<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BidHub"
        tools:targetApi="31">

        <!--
        This is the new LAUNCHER activity.
        The intent-filter tells Android that this is the first screen to open.
        -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        MainActivity no longer has the launcher intent-filter.
        It will only be opened from another activity.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- We also need to add RegisterActivity to the manifest -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Password Recovery Activities -->
        <activity
            android:name=".PasswordRecoveryRequestActivity"
            android:exported="false" />
        
        <activity
            android:name=".PasswordRecoveryVerificationActivity"
            android:exported="false" />
        
        <activity
            android:name=".PasswordResetActivity"
            android:exported="false" />
        
        <!-- Test Activity (can be removed in production) -->
        <activity
            android:name=".PasswordRecoveryTestActivity"
            android:exported="false" />

        <!-- Bottom Navigation Activities -->
        <activity
            android:name=".BrowseActivity"
            android:exported="false" />
        
        <activity
            android:name=".PostActivity"
            android:exported="false" />
        
        <activity
            android:name=".CreditsActivity"
            android:exported="false" />
        
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        
        <activity
            android:name=".ItemDetailActivity"
            android:exported="false" />

    </application>

</manifest>

